.PassIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 2em;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 50%;
    cursor: pointer;
}

.PassIconContainer:hover {
    background: rgba(0,0,0,0.5);
    color: #eee
}